<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f5717963d5cb3f6ce0abd766330aabcf {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f5717963d5cb3f6ce0abd766330aabcf" ></div>
        
</body>
<script>
    
    
            var map_f5717963d5cb3f6ce0abd766330aabcf = L.map(
                "map_f5717963d5cb3f6ce0abd766330aabcf",
                {
                    center: [23.5942, 72.14],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_bf16e1c27401d35dc80c1154fe7150a9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_bf16e1c27401d35dc80c1154fe7150a9.addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
            var marker_c723d0b10a4d3d7d9f192e7d98686349 = L.marker(
                [23.5942, 72.14],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_3e0dd0e7aaa0ecce9a44675b49f47dc0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f4f47d00512989a8afe665d4d692df2d = $(`<div id="html_f4f47d00512989a8afe665d4d692df2d" style="width: 100.0%; height: 100.0%;">Sun Temple</div>`)[0];
                popup_3e0dd0e7aaa0ecce9a44675b49f47dc0.setContent(html_f4f47d00512989a8afe665d4d692df2d);
            
        

        marker_c723d0b10a4d3d7d9f192e7d98686349.bindPopup(popup_3e0dd0e7aaa0ecce9a44675b49f47dc0)
        ;

        
    
    
            var marker_094d2d5f734a1ff966a84cb8c7781b6a = L.marker(
                [12.4229, 76.6844],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_4c101bf7e29ecd01f7c2b39b3c9caf88 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0040eb66ae01d8c561719077d04c2eb9 = $(`<div id="html_0040eb66ae01d8c561719077d04c2eb9" style="width: 100.0%; height: 100.0%;">Ranganath Swamy Temple</div>`)[0];
                popup_4c101bf7e29ecd01f7c2b39b3c9caf88.setContent(html_0040eb66ae01d8c561719077d04c2eb9);
            
        

        marker_094d2d5f734a1ff966a84cb8c7781b6a.bindPopup(popup_4c101bf7e29ecd01f7c2b39b3c9caf88)
        ;

        
    
    
            var marker_affcdae9198427916cf456b7c2f326a4 = L.marker(
                [13.6288, 79.3975],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_2f99b83ff9e5d527a6c833f677578565 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e40c1f4921c560d6141dc953a3daaf98 = $(`<div id="html_e40c1f4921c560d6141dc953a3daaf98" style="width: 100.0%; height: 100.0%;">Tirupati Balaji Temple</div>`)[0];
                popup_2f99b83ff9e5d527a6c833f677578565.setContent(html_e40c1f4921c560d6141dc953a3daaf98);
            
        

        marker_affcdae9198427916cf456b7c2f326a4.bindPopup(popup_2f99b83ff9e5d527a6c833f677578565)
        ;

        
    
    
            var marker_dc469cd67cb0be935e2b1afe348dc5a4 = L.marker(
                [9.9195, 78.1199],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_cf2fde2c0e4620daedaec16bfa9bf9f7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3f31b9be8b30f26dc3eeae2c54d671a4 = $(`<div id="html_3f31b9be8b30f26dc3eeae2c54d671a4" style="width: 100.0%; height: 100.0%;">Meenakshi Temple</div>`)[0];
                popup_cf2fde2c0e4620daedaec16bfa9bf9f7.setContent(html_3f31b9be8b30f26dc3eeae2c54d671a4);
            
        

        marker_dc469cd67cb0be935e2b1afe348dc5a4.bindPopup(popup_cf2fde2c0e4620daedaec16bfa9bf9f7)
        ;

        
    
    
            var marker_1b22b4490938737bf59a5cc5ab701ac2 = L.marker(
                [19.8874, 86.0946],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_9d7835be13a5c590b7f6c9350a2e7d5e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_edff791b5ee2c661110a1b4e17dc80da = $(`<div id="html_edff791b5ee2c661110a1b4e17dc80da" style="width: 100.0%; height: 100.0%;">Sun Konark Temple</div>`)[0];
                popup_9d7835be13a5c590b7f6c9350a2e7d5e.setContent(html_edff791b5ee2c661110a1b4e17dc80da);
            
        

        marker_1b22b4490938737bf59a5cc5ab701ac2.bindPopup(popup_9d7835be13a5c590b7f6c9350a2e7d5e)
        ;

        
    
    
            var marker_c6b69e58f1a454330b8cfc1da083e08c = L.marker(
                [10.7821, 79.1319],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_3edab89a5821137c3408c4382c4a2c5a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ba9981c4baeb22afa1ddcc2c2d9a19cf = $(`<div id="html_ba9981c4baeb22afa1ddcc2c2d9a19cf" style="width: 100.0%; height: 100.0%;">Tanjore Temple - Bhideswar Temple </div>`)[0];
                popup_3edab89a5821137c3408c4382c4a2c5a.setContent(html_ba9981c4baeb22afa1ddcc2c2d9a19cf);
            
        

        marker_c6b69e58f1a454330b8cfc1da083e08c.bindPopup(popup_3edab89a5821137c3408c4382c4a2c5a)
        ;

        
    
    
            var marker_1c419f89d0bfd63fdf184a6ead3a9cb8 = L.marker(
                [9.2881, 79.3129],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_38a13d066a057fa65a99c048ff824677 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c48da7c59ffd041ac5f4e1c73b33ff69 = $(`<div id="html_c48da7c59ffd041ac5f4e1c73b33ff69" style="width: 100.0%; height: 100.0%;">Rameshwaram Temple</div>`)[0];
                popup_38a13d066a057fa65a99c048ff824677.setContent(html_c48da7c59ffd041ac5f4e1c73b33ff69);
            
        

        marker_1c419f89d0bfd63fdf184a6ead3a9cb8.bindPopup(popup_38a13d066a057fa65a99c048ff824677)
        ;

        
    
    
            var marker_67a76c8a1de2f95afbf4e7276d97e7ee = L.marker(
                [8.4829, 76.9437],
                {
}
            ).addTo(map_f5717963d5cb3f6ce0abd766330aabcf);
        
    
        var popup_7af1318ea3dcd4810e488f4f6ca0491b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_affedbd5486b2e6ecd547f567ff68ff4 = $(`<div id="html_affedbd5486b2e6ecd547f567ff68ff4" style="width: 100.0%; height: 100.0%;">Sree Padmanabhaswamy Temple</div>`)[0];
                popup_7af1318ea3dcd4810e488f4f6ca0491b.setContent(html_affedbd5486b2e6ecd547f567ff68ff4);
            
        

        marker_67a76c8a1de2f95afbf4e7276d97e7ee.bindPopup(popup_7af1318ea3dcd4810e488f4f6ca0491b)
        ;

        
    
</script>
</html>